body{
  background-color:#333333;
  display:flex;
  justify-content:center;
  align-items:center;
  flex-direction: column;
}

#bittu{
  background-color:#0D1321;
  color:#FFF;
  height:34px;
  width:90px;
  border-radius:15px;
  border:2px solid gold;
  text-align:center;
}
#box{
  margin-top:10px;
  height:100px;
  width:100%;
  border:2px solid white;
  border-radius:20px;
  box-shadow: 2px px black;
  color:white;
  
}
h1{
  line-height:3px;
  font-family:serif;
  text-align:center;
  color:white
}
h2{
  font-family:serif;
  text-align:center;
  font-size:40px;
  line-height:4px;
  text-decoration:underline;
  text-decoration-color:green;
  text-underline-offset:10px;
  color:white;
}
* {
user-select: none;
-webkit-user-select: none;
}
#calculator{
  background-color:black;
  max-width:500px;
  margin-top:30px;
  font-family:serif;
  align-items:center;
  display:flex;
  flex-direction:column;
  border-radius:20px;
}
button{
  border:2px solid black;
  border-radius:50px;
  height:80px;
  width:80px;
  font-size:30px;
  padding:6px;
}
#n{
  background-color:orange;
  color:white;
  font-size:40px;
}
#display{
  width:100%;
  box-sizing: border-box;
  height:60px;
  color:white;
  background-color:#393E41;
  font-size:30px;
  font-family:serif;
  border-top-left-radius:20px;
  border-top-right-radius:20px;
}
#b{
  margin-top:30px;
  text-decoration:underline;
  text-decoration-color:green;
  text-underline-offset:10px;
  color:white;
}